* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-main {
    width: 100%;
    height: 100vh;
    background: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-one {
    width: 760px;
    height: 600px;
    padding: 20px;
    background: #f2f2f2;
    box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-two {
    width: 700px;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.3);
}

.loader-img {
    width: 100%;
    background: #e5e5e5;
}

.loader-img img {
    width: 100%;
    height: auto;
}

.loading-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.loading {
    width: 100%;
    display: flex;
    font-size: 12px;
    border: 1px solid blue;
}

.loading-left {
    width: 40%;
    background: rgba(31, 72, 113, 0.3);
    padding: 14px;
    text-transform: uppercase;
    font-size: 16px;
}

.loading-right {
    width: 60%;
    padding: 14px;
    text-align: right;
    font-size: 16px;
}

h2 {
    font-size: 26px;
}

p {
    font-size: 16px;
    color: #555;
    text-align: center;
}

.loading-btn {
    width: 100%;
    background: #3b5998;
    color: white;
    padding: 12px;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
}






   

